<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QL_ShopThoiTrang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QL_ShopThoiTrang.Properties.Settings.QL_ShopThoiTrangConnectionString"
            connectionString="Data Source=171.249.186.162,49170;Initial Catalog=QL_ShopThoiTrang;User ID=sa;Password=sa2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QL_ShopThoiTrang.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="serverName" serializeAs="String">
                <value />
            </setting>
            <setting name="dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="users" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="connectString" serializeAs="String">
                <value />
            </setting>
            <setting name="hinhNen" serializeAs="String">
                <value />
            </setting>
        </QL_ShopThoiTrang.Properties.Settings>
    </userSettings>
</configuration>